<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">{{hero?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-padding ion-justify-content-center">
      <ion-col size-xs="12" size-sm="10" size-md="4">
        <img
          class="hero-image"
          [src]="hero.thumbnail"
          [alt]="hero.name + ' image'"
        />
      </ion-col>
    </ion-row>
    <ion-list class="hero-info ion-no-padding">
      <ion-list-header class="hero-info-header">
        <ion-label>{{ otherInfoText.header }}</ion-label>
      </ion-list-header>
      <ion-item class="hero-info-item">
        <ion-label>{{ otherInfoText.comics }}</ion-label>
        <ion-label slot="end">{{hero.comicsAvailable}}</ion-label>
      </ion-item>
      <ion-item class="hero-info-item">
        <ion-label>{{ otherInfoText.series }}</ion-label>
        <ion-label slot="end">{{hero.seriesAvailable}}</ion-label>
      </ion-item>
      <ion-item class="hero-info-item">
        <ion-label>{{ otherInfoText.stories }}</ion-label>
        <ion-label slot="end">{{hero.storiesAvailable}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
